html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: var(--spacing-0);
  margin: var(--spacing-0);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: var(--typography-styles-h2-size);
  font-weight: var(--typography-styles-h2-weight);
  line-height: var(--typography-styles-h2-line-height);
  letter-spacing: var(--typography-styles-h2-letter-spacing);

  @media (min-width: 701px) {
    font-size: var(--typography-styles-h1-size);
    font-weight: var(--typography-styles-h1-weight);
    line-height: var(--typography-styles-h1-line-height);
    letter-spacing: var(--typography-styles-h1-letter-spacing);
  }
}

h2 {
  font-size: var(--typography-styles-h2-size);
  font-weight: var(--typography-styles-h2-weight);
  line-height: var(--typography-styles-h2-line-height);
  letter-spacing: var(--typography-styles-h2-letter-spacing);
}

h3 {
  font-size: var(--typography-styles-h3-size);
  font-weight: var(--typography-styles-h3-weight);
  line-height: var(--typography-styles-h3-line-height);
  letter-spacing: var(--typography-styles-h3-letter-spacing);
}

.S1 {
  font-size: var(--typography-styles-s1-size);
  font-weight: var(--typography-styles-s1-weight);
  line-height: var(--typography-styles-s1-line-height);
  letter-spacing: var(--typography-styles-s1-letter-spacing);
}

.S2 {
  font-size: var(--typography-styles-s2-size);
  font-weight: var(--typography-styles-s2-weight);
  line-height: var(--typography-styles-s2-line-height);
  letter-spacing: var(--typography-styles-s2-letter-spacing);
}

.P1 {
  font-size: var(--typography-styles-p1-size);
  /* font-weight: var(--typography-styles-p1-weight); */
  /* Using '300' instead of 'Light' as the font-weight is not rendering correctly */
  font-weight: 300;
  line-height: var(--typography-styles-p1-line-height);
  letter-spacing: var(--typography-styles-p1-letter-spacing);
}

.P2 {
  font-size: var(--typography-styles-p2-size);
  /* font-weight: var(--typography-styles-p2-weight); */
  /* Using '300' instead of 'Light' as the font-weight is not rendering correctly */
  font-weight: 300;
  line-height: var(--typography-styles-p2-line-height);
  letter-spacing: var(--typography-styles-p2-letter-spacing);
}

.C1 {
  font-size: var(--typography-styles-c1-size);
  /* font-weight: var(--typography-styles-c1-weight); */
  /* Using '300' instead of 'Light' as the font-weight is not rendering correctly */
  font-weight: 300;
  line-height: var(--typography-styles-c1-line-height);
  letter-spacing: var(--typography-styles-c1-letter-spacing);
}

main {
  display: flex;
  justify-content: center;
  margin: var(--spacing-2) var(--spacing-0) var(--spacing-2);

  @media (min-width: 701px) {
    margin: var(--spacing-7) var(--spacing-0) var(--spacing-7);
  }
}

select {
  font-family: inherit;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  column-gap: var(--spacing-6);
  row-gap: var(--spacing-2);
  margin: var(--spacing-0) var(--spacing-6);
  width: 100%;

  @media (min-width: 701px) and (max-width: 1100px) {
    column-gap: var(--spacing-8);
    row-gap: var(--spacing-6);
    margin: var(--spacing-0) var(--spacing-9);
  }

  @media (min-width: 1101px) and (max-width: 1500px) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 40px;
    row-gap: var(--spacing-6);
    margin: var(--spacing-0) var(--spacing-10);
  }

  @media (min-width: 1501px) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 48px;
    row-gap: var(--spacing-6);
    margin: var(--spacing-0) 48px;
    max-width: 1680px;
  }
}
